/*-------------------------------General--------------------------------------*/

:root {
  --primary-font: "Roboto", sans-serif;
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --text-color-hover: #4d5ae5;
  --accent-color: #404bbf;
  --background-color: #ffffff;
  --background-btn-filters: #f4f4fd;
  --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
  border-color: var(--background-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
}

/* Header */

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-color-hover);
}

.color-logo {
  color: var(--primary-text-color);
}

.header-block {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* Section Feature */

.features-list {
  display: flex;
}

.features-title {
  margin-bottom: 8px;
}

/*!!!!!!!!!!!!!!!!!!!!!!Mobile!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

@media screen and (max-width: 767px) {
  /* General */
  .container {
    width: 428px;
  }

  /* Header */

  .menu-list {
    display: none;
  }

  .main-adress {
    display: none;
  }
  .header-block {
    padding-top: 24px;
    padding-bottom: 22px;
  }

  /* Mobile menu */

  .mobile-menu-open-btn {
    border: none;
    border-color: transparent;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-container {
    position: relative;
    padding-top: 80px;
    padding-left: 24px;
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    background-color: var(--accent-color);
    border: none;
  }

  .mobile-menu-close-btn:hover .modal-close-icon,
  .mobile-menu-close-btn:focus .modal-close-icon {
    fill: #ffffff;
  }
  .mobile-menu-close-icon {
    fill: var(--secondary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* Menu navigation */

  .mobile-menu-link {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    margin-top: 80px;
    margin-left: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }

  .mobile-menu-link:hover,
  .mobile-menu-link:focus {
    color: var(--accent-color);
  }

  .mobile-menu-item {
    margin-bottom: 40px;
  }

  /* Menu adress */
  .mobile-menu-adress-list {
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 284px;
    margin-left: 40px;
    margin-right: 35px;
    margin-bottom: 48px;
  }

  .mobile-menu-adress-item {
    margin-bottom: 40px;
  }

  .mobile-menu-adress-link {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 32px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .mobile-menu-adress-link:hover,
  .mobile-menu-adress-link:focus {
    color: var(--accent-color);
  }

  .mobile-menu-post-link {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .mobile-menu-post-link:hover,
  .mobile-menu-post-link:focus {
    color: var(--accent-color);
  }

  /* Menu social media */
  .social-list-icon {
    fill: #f4f4fd;
    background-size: 16px;
  }

  .social-list-link:hover,
  .social-list-link:focus {
    background-color: #404bbf;
  }

  .social-list-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-list-item {
    width: 40px;
    height: 40px;
  }

  .social-list {
    bottom: 0;
    right: 0;
    gap: 56px;
    display: flex;
    justify-content: center;
  }

  /* Hero */

  .hero-title {
    font-size: 36px;
    line-height: 40px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero {
    max-width: 428px;
    padding-top: 112px;
    padding-bottom: 112px;
  }

  /* Button hero */

  .hero-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 72px;
  }

  /* Features */
  .features-list {
    flex-direction: column;
  }

  .features-title {
    text-align: center;
  }

  /* Our team */
  .team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }
}

/*!!!!!!!!!!!!!!!!!!!!! Mobile and Tablet !!!!!!!!!!!!!!!!!!!!!*/

@media screen and (max-width: 1157px) {
  /* General */
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .features {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  /* Features */

  .features-icon-wrapper {
    display: none;
  }

  .features-list {
    row-gap: 72px;
  }
  .features-title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }

  .features-desc {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
  }

  /* services */

  .services {
    display: none;
  }

  /* Our team */

  .team {
    padding-top: 96px;
  }
}

/*!!!!!!!!!!!!!!!!!!!!!!Tablet!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    width: 768px;
  }

  .mobile-menu-open-btn {
    display: none;
  }

  .main-navigation {
    display: flex;
  }

  .mobile-menu {
    display: none;
  }

  .menu-list {
    display: flex;
    margin-left: 76px;
  }

  /* Header */

  .adress-link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 12px;
    letter-spacing: 0.04em;
    color: #434455;
  }

  .adress-link:hover,
  .adress-link:focus {
    color: var(--accent-color);
  }

  /* Hero */

  .hero-title {
    font-size: 56px;
    line-height: 60px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero {
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
  }

  /* Button hero */

  .hero-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
  }

  /* Features */

  .features-list {
    display: flex;
    flex-wrap: wrap;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }

  /* Our team */
  .team-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .team-item {
    width: auto;
    height: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
  }

  .team-item-second {
    margin-bottom: 64px;
  }
}

/* !!!!!!!!!!!!!!!!!!!!Tablet and Desctop */

@media screen and (min-width: 768px) {
  /* Header */

  .menu-list {
    display: flex;
    align-items: center;
  }

  .menu-item:not(:last-child) {
    margin-right: 40px;
  }

  .menu-link {
    color: var(--primary-text-color);
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .menu-link {
    display: block;
    padding: 24px 0;
  }

  .menu-link:hover,
  .menu-link:focus {
    color: var(--accent-color);
  }

  .current-page {
    color: #404bbf;
    position: relative;
  }

  .current-page::after {
    content: "";
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  /* Features */

  .features-list {
    column-gap: 24px;
  }

  /* Our team */
}

/*!!!!!!!!!!!!!!!!!!!!! Desctop !!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Header */

  .mobile-menu-open-btn {
    display: none;
  }

  .main-navigation {
    display: flex;
    align-items: center;
  }

  .mobile-menu {
    display: none;
  }

  .menu-list {
    display: flex;
    margin-left: 76px;
  }

  .menu-link {
    transition: color var(--transition-duration-and-func);
  }

  .main-adress {
    font-style: normal;
  }

  .main-adress:not(:last-child) {
    margin-right: 24px;
  }

  .adress-link {
    color: var(--primary-text-color);
    position: relative;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color var(--transition-duration-and-func);
  }

  .adress-link:hover,
  .adress-link:focus {
    color: var(--accent-color);
  }

  .adress-list {
    gap: 40px;
    display: flex;
    align-items: center;
  }

  /* Hero */

  .hero-title {
    font-size: 56px;
    line-height: 60px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero {
    max-width: 1158px;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  /* Button hero */

  .hero-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
  }

  /* Features */

  .features {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .features-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    height: 112px;
    background: #f4f4fd;
    border-radius: 4px;
  }

  .features-list {
    gap: 24px;
    display: flex;
    align-items: top;
  }

  .features-item {
    width: calc((100% - 72px) / 4);
  }

  .features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }

  .feature-desc {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  /* Services */

  .services-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color);
  }

  .services-list {
    gap: 24px;
    display: flex;
    align-items: center;
  }

  .services-item {
    width: calc((100% - 48px) / 3);
  }

  .services {
    padding-bottom: 120px;
  }

  /*  Our team */

  .team-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
  }

  .team {
    padding-top: 120px;
  }

  .team-item {
    flex-basis: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    border-color: var(--background-color);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile/hero-mobile@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/hero-tablet@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
  screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop/hero-desktop@2x.jpg);
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*--------------------------------Section------------------------------------- */

/* Hero */
.hero-title {
  font-family: var(--primary-font);
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--background-color);
}

.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-background.jpg");
  background-size: cover;
  background-color: #2e2f42;
  margin-left: auto;
  margin-right: auto;
}

/* Button hero */

.hero-btn {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #ffffff;
  display: block;
  text-align: center;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--accent-color);
  color: var(--background-color);
}

/* Features */

.hidden-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Our Tem */

.team-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.team-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-bottom: 8px;
  margin-top: 8px;
}

.team {
  background-color: var(--background-btn-filters);
}

.team-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-color);
}

.our-team-card-wrapper {
  text-align: center;
  padding: 32px 0px;
}

.social-list-icon {
  fill: #f4f4fd;
  background-size: 16px;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

.social-list-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item {
  width: 40px;
  height: 40px;
}

.social-list {
  gap: 24px;
  display: flex;
  justify-content: center;
}

/* Costumers */

/* .custumers-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
}

.customers-icon {
  fill: currentColor;
}

.customers-icon:hover,
.customers-icon:focus {
  fill: #404bbf;
}

.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customers-list-item {
  width: calc((100% - 120px) / 6);
  background-color: #ffffff;
  height: 88px;
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
} */

/* -------------------------------Portfolio---------------------------------- */

/* Buttons navigations */

/* .buttons-list {
  gap: 24px;
  display: flex;
  margin-bottom: 72px;
  align-items: center;
  justify-content: center;
}

.btn-portfolio {
  border: 1px solid var(--btn-border-color);
  border-radius: 4px;
  padding: 12px 24px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.04em;
  color: var(--text-color-hover);
  background-color: var(--background-btn-filters);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-portfolio:hover,
.btn-portfolio:focus {
  border: 1px solid transparent;
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--background-color);
} */

/* Portfolio pictures */

/* .portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0%);
}

.portfolio-img-list-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--text-color-hover);
  color: var(--background-btn-filters);
  padding: 40px 32px;
  overflow: auto;
  transform: translate(0px, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio {
  padding: 96px 0 120px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-card-wrapper {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list {
  column-gap: 24px;
  row-gap: 48px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.portfolio-picture-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
} */

/* -------------------------------Footer------------------------------------- */

/* .social-list-footer-icon {
  fill: #f4f4fd;
}

.social-list-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-list-footer-item {
  width: 40px;
  height: 40px;
}

.social-list-footer-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-footer-link:hover,
.social-list-footer-link:focus {
  background-color: #31d0aa;
}

.footer-right-side-title {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-left-side {
  margin-right: 120px;
}

.footer-wrapper {
  display: flex;
  align-items: baseline;
}

.logo-link-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-color-hover);
}

.color-logo-footer {
  color: var(--background-btn-filters);
}

.footer-desc {
  font-size: 16px;
  line-height: 1.5x;
  letter-spacing: 0.02em;
  color: var(--background-btn-filters);
  width: 264px;
}

.footer-block {
  padding: 100px 0 100px 0;
  background: var(--primary-text-color);
}
.footer-sub-title {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-sub-form {
  display: flex;
  gap: 24px;
}

.footer-sub-form-field {
  margin-right: 24px;
}

.footer-sub-side {
  margin-left: 80px;
  align-items: baseline;
}

.footer-sub-form-input {
  width: 264px;
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
}

.footer-sub-form-input::placeholder {
  color: #ffffff;
}

.footer-sub-btn {
  min-width: 165px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 8px 24px;
  background-color: #4d5ae5;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sub-btn:hover,
.footer-sub-btn:focus {
  background: var(--accent-color);
  color: var(--background-color);
}

.footer-sub-icon {
  margin-left: 16px;
} */

/* =========================Backdrop========================== */

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  padding-top: 72px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 24px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--accent-color);
  border: none;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #ffffff;
}
.modal-close-icon {
  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.contact-title {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contact-form-field-wrapper {
  display: block;
  margin-bottom: 16px;
}

.contact-form-mar {
  display: block;
  margin-bottom: 8px;
}

.contact-form-imput-wrapper {
  position: relative;
  display: block;
}

.contact-form-imput {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
}

.contact-form-imput:focus {
  outline: none;
  border-color: #4d5ae5;
  transition: var(--transition-duration-and-func);
}

.contact-form-desc {
  font-family: var(--primary-font);
  font-weight: 400;
  display: block;
  font-size: 12px;
  line-height: 1.17;
  color: #8e8f99;
  margin-bottom: 4px;
  letter-spacing: 0.04em;
}

.contact-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-imput:focus + .contact-form-icon {
  fill: #4d5ae5;
}

.contact-form-comment {
  font-size: 12px;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-comment:focus {
  outline: none;
  border-color: #4d5ae5;
}

.contact-form-policy-wrapper {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 24px;
}

.contact-form-policy-desc {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  line-height: 1.17;
}

.contact-form-policy-color {
  color: #4d5ae5;
  text-decoration: underline;
}

.contact-form-checkmark-page {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-policy:checked
  + .contact-form-policy-desc
  > .contact-form-checkmark-page {
  background-color: #404bbf;
  fill: var(--background-color);
  border: none;
  border-color: #404bbf;
}

.contact-form-submit {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #ffffff;
  display: block;
  margin: 48px auto 0 auto;
  text-align: center;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-submit:hover,
.contact-form-submit:focus {
  background: var(--accent-color);
  color: var(--background-color);
} */
